<ion-header>
  <ion-navbar>
    <ion-title>Gestor de Maletas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf='datosTest.length > 0'>
      <button *ngFor="let item of datosTest; let i = index" (click)="readDB(item.id)" on-hold="clearElement(i)">
        <ion-label>{{item.nombre}}</ion-label>
        <ion-label>{{item.tipo}}</ion-label>
      </button>
    </ion-list>
  <ion-label *ngIf='datosTest.length == 0'>Inserta tu primera maleta pulsando el Botón ADD!</ion-label>
  <ion-fab>
      <button ion-fab (click)="createDB()">ADD</button>
    </ion-fab>
</ion-content>
