<ion-header>
  <ion-navbar>
    <ion-title>Gestor de Maletas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf='datosTest.length > 0'>
      <ion-item *ngFor="let item of datosTest; let i = index" (click)="itemTapped(item.id)">
        <ion-label>{{item.nombre}}</ion-label>
        <ion-label>{{item.inicio}}</ion-label>
        <ion-label>{{item.fin}}</ion-label>
        <ion-icon name={{item.tipo}} item-right></ion-icon>
        <button ion-button color='danger' icon-only item-left (click)=itemDelete(i)>
          <ion-icon name="trash" ></ion-icon>
        </button>
      </ion-item>
  </ion-list>
  <ion-label *ngIf='datosTest.length == 0'>Inserta tu primera maleta pulsando el Botón ADD!</ion-label>
          <ion-fab bottom right>
              <button ion-fab (click)="createDB()">DEFAULT</button>
              <button ion-fab (click)="createNew()">ADD</button>
            </ion-fab>

</ion-content>

